################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelBuddy_Web/wwwroot/uploads/Additionalphotos
/TravelBuddy_Web/wwwroot/uploads/profiles
